body {
  font-family: Arial, sans-serif;
  background: #f2f7f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: white;
  padding: 25px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.card button {
  width: 100%;
  padding: 10px;
  background: green;
  color: white;
  border: none;
  cursor: pointer;
}

.card h2, h3 {
  text-align: center;
}
